NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_TMDB_TOKEN="TMDB_TOKEN="YOUR_TMDB_BEARER_TOKEN_HERE""
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID="G-XXXXXXXXXX"
NEXT_PUBLIC_SITE_NAME="Get Movie"
NEXT_PUBLIC_TWITTER="https://twitter.com/"
NEXT_PUBLIC_FACEBOOK="https://facebook.com/"
NEXT_PUBLIC_INSTAGRAM="https://instagram.com/"
NEXT_PUBLIC_YOUTUBE="https://youtube.com/"
